{#/*======================================================================
|| #################################################################### ||
|| #                This file is part of SafeGuard Pro                # ||
|| # ---------------------------------------------------------------- # ||
|| #     Copyright © 2014 - 2015 Gewora.net. All Rights Reserved.     # ||
|| # This file may not be redistributed in whole or significant part  # ||
|| #                                                                  # ||
|| #            For more license information contact Gewora           # ||
|| #            and/or read the envato license details at:            # ||
|| #                  http://codecanyon.net/licenses                  # ||
|| # You are NOT allowed to modify/remove this copyright information  # ||
|| #                                                                  # ||
|| #              Any infringement of this copyright will             # ||
|| #               result in legal action by the holder               # ||
|| #                                                                  # ||
|| # ----------     SafeGuard Pro IS NOT FREE SOFTWARE     ---------- # ||
|| # -------------------- http://www.gewora.net --------------------- # ||
|| #################################################################### ||
\*======================================================================*/#}

{% set copyright = '
<!--
    Gewora - SafeGuard Pro

    Copyright 2014 Gewora - All rights reserved
    http://gewora.net

    See the license certificate for licensing information.

    You are NOT allowed to remove, edit or change
    this copyright information or it\'s position.

    Any infringement of this copyright will
    result in legal action by the holder.
-->' %}
<!DOCTYPE html>
<html lang="en">

{# Include the head #}
{{ copyright|raw }}
<head>
    {% include 'head.html.twig' %}
</head>

<body>
{# Include the top bar#}
{% include 'topbar.html.twig' %}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                {# The content gets added here #}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{# Include the foot #}
{% include 'foot.html.twig' %}

</body>
</html>