{#/*======================================================================
|| #################################################################### ||
|| #                This file is part of SafeGuard Pro                # ||
|| # ---------------------------------------------------------------- # ||
|| #     Copyright © 2014 - 2015 Gewora.net. All Rights Reserved.     # ||
|| # This file may not be redistributed in whole or significant part  # ||
|| #                                                                  # ||
|| #            For more license information contact Gewora           # ||
|| #            and/or read the envato license details at:            # ||
|| #                  http://codecanyon.net/licenses                  # ||
|| # You are NOT allowed to modify/remove this copyright information  # ||
|| #                                                                  # ||
|| #              Any infringement of this copyright will             # ||
|| #               result in legal action by the holder               # ||
|| #                                                                  # ||
|| # ----------     SafeGuard Pro IS NOT FREE SOFTWARE     ---------- # ||
|| # -------------------- http://www.gewora.net --------------------- # ||
|| #################################################################### ||
\*======================================================================*/#}
<div id="header">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="dashboard.php">Gewora - SafeGuard Pro - Installation</a>
            </div>
        </div>
    </div>
    <div class="subnavbar">
        <div class="subnavbar-inner">
            <div class="container">
                <ul class="mainnav">
                    <li {% if menu == 1 %}class="active"{% endif %}><a><i class="icon-heart"></i><span>Welcome</span> </a> </li>
                    <li {% if menu == 2 %}class="active"{% endif %}><a><i class="icon-ok-sign"></i><span>System Check</span> </a> </li>
                    <li {% if menu == 3 %}class="active"{% endif %}><a><i class="icon-edit"></i><span>Database Details</span> </a> </li>
                    <li {% if menu == 4 %}class="active"{% endif %}><a><i class="icon-briefcase"></i><span>Create Database</span> </a> </li>
                    <li {% if menu == 5 %}class="active"{% endif %}><a><i class="icon-user"></i><span>Create Admin Account</span> </a> </li>
                    <li {% if menu == 6 %}class="active"{% endif %}><a><i class="icon-thumbs-up"></i><span>Finish</span> </a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>