{#/*======================================================================
|| #################################################################### ||
|| #                This file is part of SafeGuard Pro                # ||
|| # ---------------------------------------------------------------- # ||
|| #     Copyright © 2014 - 2015 Gewora.net. All Rights Reserved.     # ||
|| # This file may not be redistributed in whole or significant part  # ||
|| #                                                                  # ||
|| #            For more license information contact Gewora           # ||
|| #            and/or read the envato license details at:            # ||
|| #                  http://codecanyon.net/licenses                  # ||
|| # You are NOT allowed to modify/remove this copyright information  # ||
|| #                                                                  # ||
|| #              Any infringement of this copyright will             # ||
|| #               result in legal action by the holder               # ||
|| #                                                                  # ||
|| # ----------     SafeGuard Pro IS NOT FREE SOFTWARE     ---------- # ||
|| # -------------------- http://www.gewora.net --------------------- # ||
|| #################################################################### ||
\*======================================================================*/#}

{# Options #}
{%  set menu = 5 %}


{# Extend the base template #}
{% extends 'base.html.twig' %}


{# The content #}
{% block content %}
    <div class="span12">
        {% if msg %}
            {{ msg.display }}
        {%  endif %}

        <form action="index.php" method="post" class="form-horizontal">
            <div class="widget">
                <div class="widget-header"> <i class="icon-user"></i>
                    <h3> Create Admin Account</h3>
                </div>
                <div class="widget-content">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">Username</label>
                            <div class="controls">
                                <input type="text" class="span4" name="username">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Password</label>
                            <div class="controls">
                                <input type="password" class="span4" name="password1">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Repeat Password</label>
                            <div class="controls">
                                <input type="password" class="span4" name="password2">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-actions">
                    <div style="text-align: right; float: right">
                        <button type="submit" name="continueToStep6" class="btn btn-primary">Next Step</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}